{% extends 'base.html' %}

{% block content %}

<h4>Register Here:</h4>

<form action=""method="POST">
{{ form.csrf_token }}
    <div class="form-group">
        <fieldset>
            {{form.username.label}}
            {{ form.username(class='form-control', placeholder='Username') }}
        </fieldset>
        <fieldset>
            {{form.email.label}}
            {{ form.email(class='form-control', placeholder='email') }}
        </fieldset>
        <fieldset>
            {{form.password.label}}
            {{ form.password(class='form-control', placeholder='password') }}
        </fieldset>
        <fieldset>
            {{form.confirm_pass.label}}
            {{ form.confirm_pass(class='form-control', placeholder='confirm_pass') }}
        </fieldset>
        {{ form.submit(class='btn-primary') }}
    </div>

    <div></div>
</form>
{% endblock content %}